.contenedor-testimonio {
    width: 700px;
    height: 300px;
    margin-top: 30px;
    
    background-color: white;
    
    display: flex;
    box-shadow:  0 4px 6px rgba(219, 216, 216, 0.712);
}

.imagen-testimonio {
    width: 35%;
    height: 100%;
}

.contenedor-texto-testimonio {
    width: 75%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: white;
    color: rgb(61, 67, 70);

    padding: 20px;
}

.contenedor-texto-testimonio p {
    background-color: white;
    margin-top: 10px;
    font-weight: 500;
    text-align: left;
}

.contenedor-texto-testimonio strong {
    background-color: white;
}